.heading {
    text-align: center;
    font-size: 2rem;
    background-color : black;
    color :white;
    padding : 2rem;
}
label {
    display : block;
    text-align: center;
    padding : 1rem;
}
#select-button {
    display : block;
    text-align : center;
    margin : auto;
}
#output-area {
    text-align: center;
    padding: 2rem;
}
#body {
    text-align: justify;
    max-width: 900px;
    width: 100%;
    margin: auto;
}
.hero {
    max-width: 50%;
    margin :auto;
    display : block;
}